* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

@media only screen and (max-width: 768px)  {

	.navbar-brand {
		width: 50px !important;
	}

	.row {
		margin: 0 !important;
	}

	[class*="col"] {
		padding: 0 !important;
	}

	h2 {
		font-size: 28px !important;
		padding: 5px !important;
		margin-top: 10px !important;
	}

	h3 {
		font-size: 24px !important;
		padding: 5px 0 0 !important;
	}

	.section {
		width: 100% !important;
		padding: 5px !important;
		font-size: 20px !important;
	}

	.gallery-tab {
		margin: 0 !important;
		display: flex !important;
		justify-content: space-between !important;
	}

	.gallery-thumb {
		padding: 0 !important;
	}

	.gallery-thumb img {
		width: 60px !important;
		height: 40px !important;
	}

	.expandedImg img {
		width: 260px !important;
		height: auto !important;
	}

	.imgtext {
		font-size: 12px !important;
		left: 30px !important;
	}
}

@media only screen and (max-width: 414px)  {

	.navbar-brand {
		width: 50px !important;
	}

	.row {
		margin: 0 !important;
	}

	[class*="col"] {
		padding: 0 !important;
	}

	h2 {
		font-size: 28px !important;
		padding: 5px !important;
		margin-top: 10px !important;
	}

	h3 {
		font-size: 24px !important;
		padding: 5px 0 0 !important;
	}

	.section {
		width: 100% !important;
		padding: 5px !important;
		font-size: 20px !important;
	}

	.gallery-tab {
		margin: 0 !important;
		display: flex !important;
		justify-content: space-between !important;
	}

	.gallery-thumb {
		padding: 0 !important;
	}

	.gallery-thumb img {
		width: 60px !important;
		height: 40px !important;
	}

	.expandedImg img {
		width: 260px !important;
		height: auto !important;
	}

	.imgtext {
		font-size: 12px !important;
		left: 30px !important;
	}
}

.wrapper {
	margin-top: 80px;
}

.navbar-brand {
	padding: 0 10px 0;
	opacity: 0.8;
}

.navbar {
	position: fixed;
	width: 100%;
	line-height: 80px;
	border-radius: 0;
	background: #fff;
	z-index: 100;
	border: none;
	transition: all .5s;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
/*	box-shadow: 0 4px 2px -2px gray;*/
	text-align: center;
}

.scrolled-navbar {
	background: #004581 !important;
	opacity: 1;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: ##004581;
    background-color: transparent;
    transition: all .5s;
}

.navbar-default.scrolled-navbar .navbar-nav>li>a,
.navbar-default.scrolled-navbar .navbar-nav>li>a:focus, 
.navbar-default.scrolled-navbar .navbar-nav>li>a:hover {
	color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: ##004581;
	background-color: rgba(0, 0, 0, 0.12);
	transition: all .5s;
}

.navbar-default.scrolled-navbar .navbar-nav>.active>a, 
.navbar-default.scrolled-navbar .navbar-nav>.active>a:focus, 
.navbar-default.scrolled-navbar .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.12);
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
	border-color: #e0e0e0;
	transition: all .5s;
}

.navbar-default.scrolled-navbar .navbar-toggle {
	border-color: #fff;
	background-color: #000;
	transition: all .5s;
}

.navbar-toggle .icon-bar {
	background: #004581;
	transition: all .5s;
}

.scrolled-navbar .navbar-toggle .icon-bar {
	background: #fff;
}

.previous {
	width: 100%;
	z-index: 50;
	position: fixed;
	left: 0;
	top: 60px;
}

#btn-previous {
	background-color: #004581;
	float: left;
	border-radius: 0;
	padding: 10px 20px 10px;
}

.section {
	padding: 60px 80px 20px;
	width: 100%;
	text-align: justify;
	font-family: 'Lato', sans-serif;
}

.section-header {
	margin: 0;
	line-height: 1.5;
	font-size: 48px;
	color: #004581;
	text-transform: uppercase;
	font-weight: 300;
}

.section-desc {	
	line-height: 1.5;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Tab Gallery*/

/* The grid: Four equal columns that floats next to each other */
.gallery-thumb {
}

/* Style the images inside the grid */

.gallery-thumb img {
    opacity: 0.8; 
    cursor: pointer; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.gallery-thumb img:hover {
    opacity: 1;
}

.gallery-tab {
	margin-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image */
.expandedImg {
    position: relative;
    width: 100%;
    height: auto;
    display: none;
}

.expandedImg img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Expanding image text */
.imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 5px;
    right: 50px;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    color: #004581;
}

.justify {
	justify-content: space-around;
}

/*/Tab Gallery*/


footer {
	margin-top: 50px;
	padding: 15px;
	line-height: 1.5;
	font-size: 12px;
	color: #fff;
	background-color: #004581;
	text-transform: capitalize;
	font-weight: 300;
}

.trademark {
	font-size: 12px;
}

.address {
	padding: 20px;
	text-align: center;
	font-size: 14px;
}

.social-media {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding: 20px;
	border-right: 2px solid #fff; 
	border-left: 2px solid #fff; 
}

.social-media a {
	margin: 10px 20px 20px;
}

.social-media img {
	width: 30px;
	height: 30px;
}

.email {
	padding: 20px;
	text-transform: lowercase;
	text-align: center;
	font-size: 14px;
}
